.detail-product {
  padding-bottom: 36px;

  h3 {
    margin-bottom: 24px;
  }

  .full-info {
    border-collapse: collapse;
    width: 100%;

    thead {
      background-color: $hover-button1;

      th {
        padding: 16px 0;
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: rgba($color: $text1, $alpha: 0.5);
        }

        td {
          padding: 16px 0;
        }
      }

    }
  }
}