@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#header {
  display: flex;
  width: 100%;
  height: 94px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#header #header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 38px;
  margin-top: 40px;
  padding: 0 111px;
}
#header #header-content .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 675px;
  height: 100%;
}
#header #header-content .main-nav .nav {
  list-style: none;
  display: flex;
  gap: 48px;
}
#header #header-content .main-nav .nav .nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000000;
}
#header #header-content .main-nav .nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}
#header #header-content .main-nav .nav .nav-link:hover::after,
#header #header-content .main-nav .nav .nav-link .active::after {
  transform: scale(1);
  transform-origin: bottom left;
}
#header #header-content .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  height: inherit;
}
#header #header-content .actions #search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 243px;
  height: inherit;
  background-color: #F5F5F5;
  padding: 7px 12px 7px 20px;
  border-radius: 4px;
  border: none;
}
#header #header-content .actions #search input {
  height: 100%;
  border: none;
  background-color: #F5F5F5;
}
#header #header-content .actions #search input:focus {
  outline: none;
  border: none;
}
#header #header-content .actions #search input::placehoder {
  color: #000000;
  font-size: 12px;
  opacity: 0.5;
}
#header #header-content .actions #search img {
  width: 16px;
  height: 16px;
}
#header #header-content .actions .carts {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer {
  width: 100%;
  background-color: #000000;
  color: rgba(250, 250, 250, 0.4);
}
.footer.container {
  padding: 0 135px;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 60px;
}
.footer .footer-content .footer-item {
  display: flex;
  flex-direction: column;
}
.footer .footer-content .footer-item .introduce {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 16px;
}
.footer .footer-content .footer-item .introduce img {
  width: 118px;
  height: auto;
}
.footer .footer-content .footer-item .introduce b {
  font-size: 20px;
  color: #FAFAFA;
}
.footer .footer-content .footer-item .introduce p {
  font-size: 16px;
  color: #FAFAFA;
}
.footer .footer-content .footer-item #send-email {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 12px 15px 12px 16px;
  box-shadow: inset 0 0 0 1.5px #FAFAFA;
  border-radius: 4px;
}
.footer .footer-content .footer-item #send-email input {
  width: 130px;
  font-size: 16px;
  line-height: 1.5;
  background-color: #000000;
  border: none;
  outline: none;
  color: #FAFAFA;
}
.footer .footer-content .footer-item .heading {
  margin-bottom: 24px;
  font-size: 20px;
  color: #FAFAFA;
}
.footer .footer-content .footer-item.item-1 {
  width: 175px;
}
.footer .footer-content .footer-item ul {
  list-style: none;
}
.footer .footer-content .footer-item ul li {
  font-size: 16px;
  color: #FAFAFA;
}
.footer .footer-content .footer-item ul li:not(:last-child) {
  margin-bottom: 16px;
}
.footer .footer-content .footer-item ul li a {
  color: inherit;
  text-decoration: none;
}
.footer .footer-content .footer-item:last-child p {
  font-size: 12px;
}
.footer .footer-content .footer-item:last-child .qrcode {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 8px;
}
.footer .footer-content .footer-item:last-child .qrcode .download {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer .footer-content .footer-item:last-child .qrcode .download .img-link {
  display: flex;
  align-items: center;
}
.footer .footer-content .footer-item:last-child .socials {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 24px;
}
.footer .footer-content .footer-item:last-child .socials a {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.footer .footer-content .footer-item:last-child .socials a img {
  width: inherit;
  height: inherit;
}

#source {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #000000;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 16px 0 24px;
}

#header {
  display: flex;
  width: 100%;
  height: 94px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#header #header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 38px;
  margin-top: 40px;
  padding: 0 111px;
}
#header #header-content .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 675px;
  height: 100%;
}
#header #header-content .main-nav .nav {
  list-style: none;
  display: flex;
  gap: 48px;
}
#header #header-content .main-nav .nav .nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000000;
}
#header #header-content .main-nav .nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}
#header #header-content .main-nav .nav .nav-link:hover::after,
#header #header-content .main-nav .nav .nav-link .active::after {
  transform: scale(1);
  transform-origin: bottom left;
}
#header #header-content .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  height: inherit;
}
#header #header-content .actions #search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 243px;
  height: inherit;
  background-color: #F5F5F5;
  padding: 7px 12px 7px 20px;
  border-radius: 4px;
  border: none;
}
#header #header-content .actions #search input {
  height: 100%;
  border: none;
  background-color: #F5F5F5;
}
#header #header-content .actions #search input:focus {
  outline: none;
  border: none;
}
#header #header-content .actions #search input::placehoder {
  color: #000000;
  font-size: 12px;
  opacity: 0.5;
}
#header #header-content .actions #search img {
  width: 16px;
  height: 16px;
}
#header #header-content .actions .carts {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer {
  width: 100%;
  background-color: #000000;
  color: rgba(250, 250, 250, 0.4);
}
.footer.container {
  padding: 0 135px;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 60px;
}
.footer .footer-content .footer-item {
  display: flex;
  flex-direction: column;
}
.footer .footer-content .footer-item .introduce {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 16px;
}
.footer .footer-content .footer-item .introduce img {
  width: 118px;
  height: auto;
}
.footer .footer-content .footer-item .introduce b {
  font-size: 20px;
  color: #FAFAFA;
}
.footer .footer-content .footer-item .introduce p {
  font-size: 16px;
  color: #FAFAFA;
}
.footer .footer-content .footer-item #send-email {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 12px 15px 12px 16px;
  box-shadow: inset 0 0 0 1.5px #FAFAFA;
  border-radius: 4px;
}
.footer .footer-content .footer-item #send-email input {
  width: 130px;
  font-size: 16px;
  line-height: 1.5;
  background-color: #000000;
  border: none;
  outline: none;
  color: #FAFAFA;
}
.footer .footer-content .footer-item .heading {
  margin-bottom: 24px;
  font-size: 20px;
  color: #FAFAFA;
}
.footer .footer-content .footer-item.item-1 {
  width: 175px;
}
.footer .footer-content .footer-item ul {
  list-style: none;
}
.footer .footer-content .footer-item ul li {
  font-size: 16px;
  color: #FAFAFA;
}
.footer .footer-content .footer-item ul li:not(:last-child) {
  margin-bottom: 16px;
}
.footer .footer-content .footer-item ul li a {
  color: inherit;
  text-decoration: none;
}
.footer .footer-content .footer-item:last-child p {
  font-size: 12px;
}
.footer .footer-content .footer-item:last-child .qrcode {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 8px;
}
.footer .footer-content .footer-item:last-child .qrcode .download {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer .footer-content .footer-item:last-child .qrcode .download .img-link {
  display: flex;
  align-items: center;
}
.footer .footer-content .footer-item:last-child .socials {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 24px;
}
.footer .footer-content .footer-item:last-child .socials a {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.footer .footer-content .footer-item:last-child .socials a img {
  width: inherit;
  height: inherit;
}

#source {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #000000;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 16px 0 24px;
}/*# sourceMappingURL=app.css.map */